@import './ScreenSize.scss';

.demo-gif {
    max-width: 600px;

    @include small-screens {
        display: none;
    }
}

.docker-img {
    max-width: 250px;
}

.azure-functions-img {
    max-width: 80%;
}

.github-img {
    max-width: 100%;
}

.tap3-logo {
    max-width: 250px;
}

.tap3-img {
    max-width: 100%;
}

.tap3-video {
    width: 100%;
}