@import './ScreenSize.scss';

.demo-gif {
    max-width: 600px;

    @include small-screens {
        display: none;
    }
}

.docker-img {
    max-width: 250px;
}

.azure-functions-img {
    max-width: 80%;
}