@import './App.scss';
@import './Colors.scss';
@import './Effects.scss';
@import './ScreenSize.scss';
@import './SearchBar.scss';
@import './SearchResult.scss';
@import './Page.scss';
@import './ProfilePicture.scss';
@import './Gifs.scss';
@import './Loading.scss';

* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
}

img {
    margin-bottom: 40px;
}

iframe {
    margin-bottom: 40px;
}

video {
    margin-bottom: 40px;
}