@import './App.scss';
@import './Colors.scss';
@import './Effects.scss';
@import './ScreenSize.scss';
@import './SearchBar.scss';
@import './SearchResult.scss';
@import './Page.scss';
@import './ProfilePicture.scss';
@import './Soseo.scss';

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}