.search-results-container {
    margin-top: 150px;
}

.search-result {
    text-decoration: none;
    margin: 1px;
}

.search-result-title {
    font-size: 25px;
    margin-top: 30px;
}

.search-result-description {
    font-size: 16px;
    margin: 0px;
}

.search-result-url {
    font-size: 12px;
    margin: 5px 0px 10px 0px;
}

.search-result-technologies {
    font-size: 12px;
    margin-top: 5px;
}