@import 'Colors.scss';
@import 'Effects.scss';
@import 'ScreenSize.scss';

.search-header {
    color: coral;
    font-size: 50px;
    margin-bottom: 20px;
}

.search-header-medium {
    color: coral;
    font-size: 30px;
    margin-bottom: 20px;

    @include medium-and-larger {
        display: inline;
    }

    margin-right: 20px;
    text-align: center;
}

.search-container {
    text-align: center;
    
    @include small-screens {
        margin-top: 30%;
    }

    @include medium-and-larger {
        margin-top: 225px;
    }
}

.search-bar {
    display: inline;
}

.search-bar-input {
    max-width: 582px;

    @include medium-and-larger {
        font-size: 18px;
    }
    
    @include small-screens {
        width: 75%;
        display: block;
    }

    @include medium-and-larger {
        width: 50%;
    }

    border-radius: 25px;
    border-color: $lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 14px;
    margin-bottom: 20px;

    &:hover {
        @include shadow($exlightgray);
    }
}

.search-bar-container-medium {
    display: inline;
}

.search-buttons-container {
    display: block;
}
.search-button {
    border: none;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;

    &:hover {
        cursor: pointer;
        border: 1px solid $lightgray;
        padding: 9px;
    }
}

.search-suggestion {
    list-style-type: none;
    padding: 10px 10px 10px 20px;

    &:hover {
        background-color: $exlightgray;
    }
}

.search-suggestions-container {
    position: absolute;
    padding-left: 0px;
    text-align: left;
    list-style-type: none;
    transform: translate(50%, -35px);
    right: 50%;
    max-width: 582px;
    width: 75%;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    z-index: 2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}