@import 'Colors.scss';
@import 'Effects.scss';
@import 'ScreenSize.scss';

.search-grid {
    display: grid;

    @include medium-and-larger {
        grid-template-areas:
        'search-header-area search-bar-area'
        '.................. search-suggestions-area';
        grid-template-columns: 2fr 6fr;
    }

    @include small-screens {
        grid-template-areas:
        'search-header-area'
        'search-bar-area' 
        'search-suggestions-area';
    }
}

.search-header-area {
    grid-area: 'search-header-area';
}

.search-bar-area {
    grid-area: 'search-bar-area';
}

.search-suggestions-area {
    grid-area: 'search-suggestions-area';
}

.search-header {
    color: coral;

    @include small-screens {
        font-size: 30px;
    }

    @include medium-and-larger {
        font-size: 50px;
    }

    margin-bottom: 20px;
}

.search-header-medium {
    color: coral;
    font-size: 30px;
    margin-bottom: 20px;

    @include small-screens {
        margin-left: auto;
        margin-right: auto;
    }

    @include medium-and-larger {
        display: inline;
    }

    margin-right: 20px;
    text-align: center;
}

.search-container {
    text-align: center;
    
    @include small-screens {
        margin-top: 30%;
    }

    @include medium-and-larger {
        margin-top: 225px;
    }
}

.search-container-exit {
    transition: transform 0.35s ease-in-out;
    transform: translateY(-110%);

    -webkit-transition: -webkit-transform 0.35s ease-in-out;
    -webkit-transform: translateY(-110%);

    -moz-transition: -moz-transform 0.35s ease-in-out;
    -moz-transform: translateY(-110%);

    -o-transition: -o-transform 0.35s ease-in-out;
    -o-transform: translateY(-110%);
}

.search-container-enter {
    transform: translateY(0%);
    transition: transform 0.5s;

    -webkit-transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;

    -moz-transform: translateY(0%);
    -moz-transition: -moz-transform 0.5s;

    -o-transform: translateY(0%);
    -o-transition: -o-transform 0.5s;
}

.search-container-medium {
    box-shadow: 0px 1px 8px -1px lightgray;
    padding: 50px 15% 20px 15%;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    background-color: white;
    z-index: 10;

    @include small-screens {
        padding: 25px 0px 15px 0px;
        padding-right: 0px;
        height: 125px;
    }
}

.search-bar {
    display: inline;
}

@mixin search-bar-size {
    max-width: 582px;

    @include small-screens {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    @include medium-and-larger {
        font-size: 18px;
    }

    @include medium-and-larger {
        width: 50%;
    }
}

.search-bar-input {
    
    @include search-bar-size();
    border-radius: 25px;
    border-color: $lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 14px;

    &:hover {
        @include shadow($exlightgray);
    }
}

.search-bar-container-medium {
    display: inline;
}

.search-buttons-container {
    display: block;
    text-align: center;
}

.search-button {
    border: none;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 4px;
    margin: 25px 5px 150px 5px;

    &:hover {
        cursor: pointer;
        border: 1px solid $lightgray;
        padding: 9px;
    }
}

.search-suggestion {
    list-style-type: none;
    padding: 10px 10px 10px 20px;

    &:hover {
        background-color: $exlightgray;
    }
}

.search-suggestion-selected {
    background-color: $exlightgray;
}

@mixin search-suggestions-container {
    padding-left: 0px;
    text-align: left;
    list-style-type: none;
    max-width: 582px;

    @include medium-and-larger {
        width: 55%;
    }

    @include small-screens {
        width: 80%;
        margin: auto;
    }
    
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    z-index: 2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.search-suggestions-container-medium {
    background-color: white;
    @include search-suggestions-container();
}

.search-suggestions-container {
    position: absolute;
    @include search-suggestions-container();
    transform: translateX(50%);
    right: 50%;
}

@mixin search-bar-icon {
    display: inline;
    color: $lightgray;
    position: absolute;
    

    @include search-bar-size();

    @include medium-and-larger {
        transform: translateY(17px);
    }

    @include small-screens {
        transform: translateY(-30px);
    }

    &:hover {
        cursor: pointer;
    }
}

.search-bar-icon {
    @include search-bar-icon();
    left: 48%;
}

.search-bar-icon-medium {
    @include search-bar-icon();
    
    @include medium-and-larger {
        left: 58%;
    }

    @include small-screens {
        left: 83%;
    }
}

